export POOL_ADDRESS='''{  "weth_usdt": "0x11b815efb8f581194ae79006d24e0d814b7697f6"
                        , "weth": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"}
                        , "usdt": "0xdac17f958d2ee523a2206206994597c13d831ec7"
                    '''
export POOL_ABI="""[
    {
        "anonymous": false,
        "inputs": [
            {"indexed": true, "name": "sender", "type": "address"},
            {"indexed": true, "name": "recipient", "type": "address"},
            {"indexed": false, "name": "amount0", "type": "int256"},
            {"indexed": false, "name": "amount1", "type": "int256"},
            {"indexed": false, "name": "sqrtPriceX96", "type": "uint160"},
            {"indexed": false, "name": "liquidity", "type": "uint128"},
            {"indexed": false, "name": "tick", "type": "int24"}
        ],
        "name": "Swap",
        "type": "event"
    }
]
"""